{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
   
<div class="container mt-4">
    <h2>Your Assignments</h2>
    {% if assignments %}
        <ul class="list-group">
            {% for assignment in assignments %}
                <li class="list-group-item">
                    <h5>{{ assignment.title }}</h5>
                    <p>{{ assignment.description }}</p>
                    <p>Due: {{ assignment.due_date }}</p>
                    {% if assignment.file %}
                        <a href="{{ assignment.file.url }}" class="btn btn-primary btn-sm">Download File</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No assignments available for your semester, section, or batch.</p>
    {% endif %}
</div>
{% endblock %}
