{% extends "Home/base.html" %}
{% load static %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Assign Subject</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'subjects:view_subject' %}">Subjects</a></li>
                        <li class="breadcrumb-item active">Assign Subject</li>
                    </ul>
                </div>
            </div>
        </div>

        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="card"> 
            <div class="card_body">
                <table class="table">
                    <thead>
                     <tr>
                        <th>#</th>
                        <th>Teacher</th>
                        <th>Subject</th>
                        <th>batch</th>
                        <th>section</th>
                        <th>semester</th>
                        <th>discipline</th>
                        <th>sttus</th>
                     </tr>
                    </thead>
                    <tbody>
                        {% for a  in assigns %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{a.teacher.name}}</td>
                            <td>{{a.subject.name}}</td>
                            <td>{{a.section.name}}</td>
                            <td>{{a.semster.name}}</td>
                            {% comment %} <td>{{a.discplines.name}}</td> {% endcomment %}
                            <td>{{% if a.is_active %}}
                            <span>active</span>
                            {% else %}
                            <span>inactive</span>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody> 
                    
                </table>

            </div>
        </div>

        

{% endblock %}
